force-app/main/default/flows/Giving_Summary_Campaign_Batch_Generate_Giving_Summaries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chunk_Success_Message</name>
        <label>Chunk Success Message</label>
        <locationX>2074</locationX>
        <locationY>1886</locationY>
        <actionName>FlowToolKit:DisplayToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Increment_Iteration</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>BatchCampaignName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>variant</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowToolKit:DisplayToastMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Extract_Subset</name>
        <label>Extract Subset</label>
        <locationX>1810</locationX>
        <locationY>1430</locationY>
        <actionName>FlowToolKit__Collection_Subset_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Giving_Summaries</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Records</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>chunkEnd</name>
            <value>
                <elementReference>OffsetEnd</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>chunkStart</name>
            <value>
                <elementReference>OffsetStart</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>Campaign_Members_by_Status</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowToolKit__Collection_Subset_Invocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>CampaignMembersSubset</assignToReference>
            <name>records</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>1458</locationX>
        <locationY>2468</locationY>
        <actionName>FlowToolKit:DisplayToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Giving Summaries generated!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>variant</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowToolKit:DisplayToastMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Increment_Iteration</name>
        <label>Increment Iteration</label>
        <locationX>2074</locationX>
        <locationY>1994</locationY>
        <assignmentItems>
            <assignToReference>Iteration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DynamicBatchSize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AutoNavigateScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Batch_Numbers</name>
        <label>Set Batch Numbers</label>
        <locationX>1458</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>TotalNumberOfCampaignMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Campaign_Members</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfChildCampaigns</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Child_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CountOfChildCampaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Campaign_Members</name>
        <label>Set Campaign Members</label>
        <locationX>1546</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>CampaignMembersSubset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Members_by_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Giving_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Filtered_Collection_Size</name>
        <label>Set Filtered Collection Size</label>
        <locationX>2074</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>FilteredCollectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Campaign_Members_by_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iteration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Switch</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Campaign_Members_by_Status</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Campaign Members by Status</label>
        <locationX>2074</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference>currentItem_Campaign_Members_by_Status</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Campaign_Members</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Campaign_Members_by_Status.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Statuses</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Filtered_Collection_Size</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>2074</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Statuses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Small_Batch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalNumberOfCampaignMembers</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>BatchSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iteration</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TotalNumberOfCampaignMembers</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iteration</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>FilteredCollectionSize</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Campaign_Members</targetReference>
            </connector>
            <label>Small Batch</label>
        </rules>
        <rules>
            <name>New_Batch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalNumberOfCampaignMembers</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>BatchSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iteration</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TotalNumberOfCampaignMembers</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iteration</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>FilteredCollectionSize</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Child_Campaign</targetReference>
            </connector>
            <label>New Batch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch_Validate_Campaign</name>
        <label>Switch</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Campaign_Member_Statuses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>continue</defaultConnectorLabel>
        <rules>
            <name>Summaries_Already_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign.Giving_Summaries_Generated__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Generated_Screen</targetReference>
            </connector>
            <label>Summaries Already Generated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BatchCampaignName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_Statuses}+&quot; Batch (&quot;+TEXT({!BatchNumber})+&quot;) | &quot;+ {!Campaign.Name},80)</expression>
    </formulas>
    <formulas>
        <description>When status/type is &quot;Email&quot; override batch size to 2500</description>
        <name>DynamicBatchSize</name>
        <dataType>Number</dataType>
        <expression>IF({!Loop_Statuses} == &apos;Email&apos;,2500,{!BatchSize})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OffsetEnd</name>
        <dataType>Number</dataType>
        <expression>({!Iteration} + {!DynamicBatchSize}) - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OffsetStart</name>
        <dataType>Number</dataType>
        <expression>{!Iteration}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Giving Summary --&gt; Campaign Batch Generate Giving Summaries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Giving Summary --&gt; Campaign Batch Generate Giving Summaries</label>
    <loops>
        <name>Loop_Statuses</name>
        <label>Loop Statuses</label>
        <locationX>1458</locationX>
        <locationY>890</locationY>
        <collectionReference>Member_Status_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Campaign_Members_by_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Summaries_Generated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Giving_Summaries</name>
        <label>Insert Giving Summaries</label>
        <locationX>2074</locationX>
        <locationY>1778</locationY>
        <connector>
            <targetReference>Chunk_Success_Message</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <doesUpsertAllOrNone>true</doesUpsertAllOrNone>
        <faultConnector>
            <targetReference>Rollback_Records</targetReference>
        </faultConnector>
        <inputReference>Giving_Summaries</inputReference>
        <upsertExternalIdField>CampaignMemberId__c</upsertExternalIdField>
    </recordCreates>
    <recordCreates>
        <description>Insert a new child batch that serves as a batch of Giving Summaries</description>
        <name>New_Child_Campaign</name>
        <label>New Child Campaign</label>
        <locationX>1810</locationX>
        <locationY>1322</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Extract_Subset</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Campaign.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <elementReference>Campaign.IsActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BatchCampaignName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Campaign.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Campaign.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Campaign.Status</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordLookups>
        <name>Campaign</name>
        <label>Campaign</label>
        <locationX>754</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Switch_Validate_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Giving_Summaries_Generated__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Campaign_Member_Statuses</name>
        <label>Campaign Member Statuses</label>
        <locationX>1458</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Member_Status_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Campaign_Members</name>
        <label>Campaign Members</label>
        <locationX>1458</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Batch_Numbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Campaigns</name>
        <label>Get Child Campaigns</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_Records</name>
        <label>Rollback Records</label>
        <locationX>2866</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Summaries_Generated</name>
        <label>Update Summaries Generated</label>
        <locationX>1458</locationX>
        <locationY>2360</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Giving_Summaries_Generated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <screens>
        <name>Already_Generated_Screen</name>
        <label>Already Generated Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlreadyGeneratedMessage</name>
            <extensionName>FlowToolKit:displayIllustration</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>Not Available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Giving Summaries Already Generated!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <stringValue>Giving Summaries have already been generated for the Campaign</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AutoNavigateScreen</name>
        <label>AutoNavigateScreen</label>
        <locationX>2074</locationX>
        <locationY>2102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Switch</targetReference>
        </connector>
        <fields>
            <name>getURLParams</name>
            <extensionName>FlowToolKit:getUrlParameters</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>2866</locationX>
        <locationY>1994</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultIllustration</name>
            <extensionName>FlowToolKit:displayIllustration</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>Not Available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Oops! Something Went Wrong.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1458</locationX>
        <locationY>2576</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompleteIllustration</name>
            <extensionName>FlowToolKit:displayIllustration</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Giving Summaries Generated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitle</name>
                <value>
                    <stringValue>All giving summaries have been generated.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>Maintenance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Close/Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Giving_Summaries</name>
        <label>Giving Summaries</label>
        <locationX>2074</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Insert_Giving_Summaries</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Giving_Summary__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Account__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>CampaignMembersSubset[$EachItem].AccountId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Contact__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>CampaignMembersSubset[$EachItem].ContactId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Summary_End__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Campaign.EndDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Summary_Start__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Campaign.StartDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Campaign__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CampaignMemberId__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>CampaignMembersSubset[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>CampaignMembersSubset[$EachItem].Status</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Member_Status_Collection</name>
        <label>Member Status Collection</label>
        <locationX>1458</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Child_Campaigns</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Campaign_Member_Statuses[$EachItem].Label</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>BatchNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The total number of records to include within each batch</description>
        <name>BatchSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CampaignMembersSubset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CountOfChildCampaigns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Campaign_Members_by_Status</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>The total number of Campaign Member records filtered by Member Status</description>
        <name>FilteredCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Only 1000 records can rendered within a visualforce page. This variable keeps track of the count so that we can group summaries in chunks of 1000 max.</description>
        <name>Iteration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalNumberOfCampaignMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
