force-app/main/default/flows/Giving_Summary_Generate_PDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>FlowToolKit:DisplayToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>AutoNavigateScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>PDF Generated and Attached to Giving Summary</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>variant</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowToolKit:DisplayToastMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <description>This Screen flow generates a PDF document and attaches it to the Giving Summary record</description>
    <environments>Default</environments>
    <formulas>
        <name>ContentDocumentId</name>
        <dataType>String</dataType>
        <expression>BlankValue({!Giving_Summary.ContentDocumentId__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>DocumentTitle</name>
        <dataType>String</dataType>
        <expression>{!Giving_Summary.Account__r.Name}+&apos; Giving Summary (&apos;+TEXT(YEAR({!Giving_Summary.Summary_Start__c}))+&apos;).pdf&apos;</expression>
    </formulas>
    <interviewLabel>Giving Summary --&gt; Generate PDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Giving Summary --&gt; Generate PDF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Giving_Summary</name>
        <label>Giving Summary</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Giving_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AutoNavigateScreen</name>
        <label>AutoNavigateScreen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GetURLParams</name>
            <extensionName>FlowToolKit:getUrlParameters</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Giving_Summary</targetReference>
        </connector>
        <flowName>Giving_Summary_Generate_and_Link_ContentDocument</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
