force-app/main/default/flows/Giving_Summary_Generate_and_Link_ContentDocument.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>FlowToolKit__Generate_PDF_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Giving_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pageName</name>
            <value>
                <stringValue>PDF_Giving_Summary_PDF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PathOnClient</name>
            <value>
                <stringValue>/{!DocumentTitle}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Giving_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shareWithId</name>
            <value>
                <elementReference>Giving_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Title</name>
            <value>
                <elementReference>DocumentTitle</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowToolKit__Generate_PDF_Invocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ContentDocumentId</assignToReference>
            <name>contentDocumentId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_PDF</name>
        <label>Update PDF</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>FlowToolKit__Generate_PDF_Invocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContentDocumentId</name>
            <value>
                <elementReference>Giving_Summary.ContentDocumentId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageName</name>
            <value>
                <stringValue>PDF_Giving_Summary_PDF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PathOnClient</name>
            <value>
                <stringValue>/{!DocumentTitle}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Giving_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shareWithId</name>
            <value>
                <elementReference>Giving_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Title</name>
            <value>
                <elementReference>DocumentTitle</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowToolKit__Generate_PDF_Invocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ContentDocumentId</assignToReference>
            <name>contentDocumentId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Switch_ContentDocumentId</name>
        <label>Switch</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Generate_PDF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ContentDocumentId</defaultConnectorLabel>
        <rules>
            <name>Has_ContentDocumentId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Giving_Summary.ContentDocumentId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PDF</targetReference>
            </connector>
            <label>ContentDocumentId</label>
        </rules>
    </decisions>
    <description>Use this autolaunched flow to generate a PDF document and link it to the Giving Summary record</description>
    <environments>Default</environments>
    <formulas>
        <name>DocumentTitle</name>
        <dataType>String</dataType>
        <expression>{!Giving_Summary.Account__r.Name}+&apos; Giving Summary (&apos;+TEXT(YEAR({!Giving_Summary.Summary_Start__c}))+&apos;).pdf&apos;</expression>
    </formulas>
    <interviewLabel>Giving Summary --&gt; Generate and Link Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Giving Summary --&gt; Generate and Link Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Giving_Summary</name>
        <label>Giving Summary</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Switch_ContentDocumentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Giving_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Giving_Summary</name>
        <label>Update Giving Summary</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Giving_Summary.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContentDocumentId__c</field>
            <value>
                <elementReference>ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <object>Giving_Summary__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Giving_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
