force-app/main/default/flows/Giving_Summary_After_Insert_Link_Gifts_Merge_Letter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_to_Insert_Collection</name>
        <label>Add to Insert Collection</label>
        <locationX>462</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>InsertCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopGivingSummaryGift</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Giving_Summary_Gift</name>
        <label>Build Giving Summary Gift</label>
        <locationX>462</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>LoopGivingSummaryGift.Giving_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopGivingSummaryGift.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Insert_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Total_Amount</name>
        <label>Increment Total Amount</label>
        <locationX>462</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opportunities.npe01__Payments_Made__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Giving_Summary_Gift</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Opportunities</name>
        <label>Set Opportunities</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Opportunities</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunitiesAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Opportunities</name>
        <label>Set Opportunities</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Opportunities</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunitiesContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>OpportunitiesAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Organization Gifts</defaultConnectorLabel>
        <rules>
            <name>Individual_Gifts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HH_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunitiesContact</targetReference>
            </connector>
            <label>Individual Gifts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailTemplateName</name>
        <dataType>String</dataType>
        <expression>IF({!TotalAmount} &gt;= 10000,&apos;Tier_1_Major_Donors_10_000_1739843110119&apos;,
IF({!TotalAmount} &gt;= 5000 &amp;&amp; {!TotalAmount} &lt;= 9999, &apos;Tier_2_Leadership_Donors_5_000_9_999_1739842764737&apos;,
IF({!TotalAmount} &gt;= 1000 &amp;&amp; {!TotalAmount} &lt;= 4999,&apos;Tier_3_Sustaining_Donors_1_000_4_999_1739842548127&apos;,
IF({!TotalAmount} &gt;= 250 &amp;&amp; {!TotalAmount} &lt;= 999,&apos;Tier_4_Dedicated_Supporters_250_999_1739842208974&apos;,
&apos;Tier_5_First_Time_or_Occasional_Donors_Under_250_1739853662595&apos;))))</expression>
    </formulas>
    <formulas>
        <name>LetterBody</name>
        <dataType>String</dataType>
        <expression>IF({!TotalAmount} &gt;= 10000, {!Tier1_Major_Donors_10000},
IF({!TotalAmount} &gt;= 5000 &amp;&amp; {!TotalAmount} &lt;= 9999, {!Tier2_Leadership_Donors_5000_9999},
IF({!TotalAmount} &gt;= 1000 &amp;&amp; {!TotalAmount} &lt;= 4999, {!Tier3_Sustaining_Donors_1000_4999},
IF({!TotalAmount} &gt;= 250 &amp;&amp; {!TotalAmount} &lt;= 999, {!Tier4_Dedicated_Supporters_250_999},
{!Tier5_FirstTime_or_Occasional_Donors_Under_250}))))</expression>
    </formulas>
    <formulas>
        <name>NextYear</name>
        <dataType>String</dataType>
        <expression>Text(YEAR({!$Record.Summary_Start__c})+1)</expression>
    </formulas>
    <formulas>
        <name>TotalAmountText</name>
        <dataType>String</dataType>
        <expression>IF(
    ABS({!TotalAmount}) &gt;= 1000, 
    TEXT(FLOOR({!TotalAmount} / 1000)) &amp; &quot;,&quot; &amp; 
    RIGHT(&quot;000&quot; &amp; TEXT(MOD(ABS({!TotalAmount}), 1000)), 3), 
    TEXT({!TotalAmount})
)</expression>
    </formulas>
    <formulas>
        <name>Year</name>
        <dataType>String</dataType>
        <expression>Text(YEAR({!$Record.Summary_Start__c}))</expression>
    </formulas>
    <interviewLabel>Giving Summary (After Insert --&gt; Link Gifts) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Giving Summary (After Insert --&gt; Link Gifts | Merge Letter)</label>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Opportunities</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <collectionReference>Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Total_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Summary_Gifts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Summary_Gifts</name>
        <label>Insert Summary Gifts</label>
        <locationX>374</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Update_Giving_Summary</targetReference>
        </connector>
        <inputReference>InsertCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>OpportunitiesAccount</name>
        <label>Opportunities</label>
        <locationX>506</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Summary_Start__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Summary_End__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OpportunitiesContact</name>
        <label>Opportunities</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Summary_Start__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Summary_End__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Giving_Summary</name>
        <label>Update Giving Summary</label>
        <locationX>374</locationX>
        <locationY>1308</locationY>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>EmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Letter_Body__c</field>
            <value>
                <elementReference>LetterBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Receiptable__c</field>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Giving_Summary__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Switch</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Tier1_Major_Donors_10000</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;As we reflect on {!Year}, we are filled with gratitude for your incredible generosity. Your contributions of &lt;strong&gt;${!TotalAmountText} &lt;/strong&gt;have been instrumental in advancing our mission at {!$Organization.Name}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks to your support, we were able to provide 500 meals to families in need, fund scholarships for 10 students, and expand our community outreach programs. Your commitment to making a difference inspires us every day, and we are honored to have you as a partner in this work.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We would love the opportunity to personally express our appreciation and share our vision for the year ahead. Please let us know if we can schedule a time to connect.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for your continued belief in our mission. Your generosity is changing lives, and we are deeply grateful.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;With heartfelt appreciation,&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Tier2_Leadership_Donors_5000_9999</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your generosity this past year has made a meaningful impact at {!$Organization.Name}. With your support totaling &lt;strong&gt;${!TotalAmountText}&lt;/strong&gt;, we were able to expand our educational programs, and help more families in crisis.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your commitment to our mission has helped drive real change, and we want to take a moment to say thank you. Your support means more than just numbers—it means hope, opportunity, and transformation for those we serve.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We look forward to continuing this journey with you in {!NextYear} and hope you’ll join us for upcoming events and updates. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for being such an important part of our community.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;With gratitude,&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Tier3_Sustaining_Donors_1000_4999</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;We are so grateful for your support this year! Your generous contributions of &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;${!TotalAmountText} &lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;have helped us offer after-school programs for children.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Because of donors like you, {!$Organization.Name} continues to make a meaningful impact in our community. Every dollar you give strengthens our ability to serve and support those who need it most.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Thank you for being a vital part of our mission. We hope to keep you updated on the difference you are making and invite you to continue this journey with us in {!NextYear}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;With appreciation,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Tier4_Dedicated_Supporters_250_999</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Your generosity this year has helped us move our mission forward, and we are truly grateful. With your contributions totaling &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;${!TotalAmountText}&lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;, we have been able to provide warm meals to those in need.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Every gift, no matter the size, makes a difference in the lives of those we serve. Your kindness and generosity remind us that together, we can create positive change.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Thank you for being part of our community and for making a difference. We hope you’ll continue to support our work in {!NextYear} and beyond!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;With warm appreciation,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Tier5_FirstTime_or_Occasional_Donors_Under_250</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;We are so grateful for your support of {!$Organization.Name} this year! Your gift of &lt;strong&gt;${!TotalAmountText}&lt;/strong&gt; helped us offer food assistance to families.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your generosity, along with that of other caring supporters, helps us continue our mission. We invite you to stay connected with us and see the incredible work you’re making possible.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for believing in our mission and for being part of the change. We hope you’ll continue to support us in {!NextYear}!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;With gratitude,&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>InsertCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giving_Summary_Gifts__c</objectType>
    </variables>
    <variables>
        <name>LoopGivingSummaryGift</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Giving_Summary_Gifts__c</objectType>
    </variables>
    <variables>
        <name>Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
