force-app/main/default/flows/Giving_Summary_Before_Insert_Update_Assign_Contact_or_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <customErrors>
        <name>Account_or_Contact_is_required</name>
        <label>Account or Contact is Required</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <customErrorMessages>
            <errorMessage>An Account or Contact is required to generate a Giving Summary</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>valid</defaultConnectorLabel>
        <rules>
            <name>Assign_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.npe01__One2OneContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Assign Primary Contact</label>
        </rules>
        <rules>
            <name>Assign_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Assign Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch_Validate</name>
        <label>Switch (Validate)</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>break</defaultConnectorLabel>
        <rules>
            <name>Throw_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_or_Contact_is_required</targetReference>
            </connector>
            <label>Throw Error</label>
        </rules>
    </decisions>
    <description>This flow trigger ensures that both Account and Contact are always assigned</description>
    <environments>Default</environments>
    <formulas>
        <description>This prevents Users from changing a Giving Summaries Campaign</description>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <expression>BlankValue({!$Record__Prior.Campaign__c},{!$Record.Campaign__c})</expression>
    </formulas>
    <interviewLabel>Giving Summary (Before Insert/Update --&gt; Assign Contact or Account) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Giving Summary (Before Insert/Update --&gt; Assign Contact or Account)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Switch_Validate</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update (Contact)</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Switch_Validate</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Account__r.npe01__One2OneContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Switch</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Giving_Summary__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
